.repl {
  position: relative;
  min-height: 220px;
}

.repl-history {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #3d3f6c;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 30px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  width: 970px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.repl-history:hover {
  transform: scale(1.01);
  transition: 0.3s;
}

.repl-input {
  margin: 0px;
  height: 110px;
  padding-top: 10px;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"] {
  background-color: #e3f1ff;
}

input::placeholder {
  color: #3d3f6c;
  font-weight: bold;
}

input:hover {
  transform: scale(1.01);
  transition: 0.2s;
  background-color: #cce3fd;
}

#command-instruct {
  color: #3d3f6c;
  font-family: "ivymode", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  margin-left: 210px;
}

.repl-command-box {
  color: #3d3f6c;
  font-weight: bold;
  font-size: 16px;
  width: 800px;
  display: block;
  height: 49px;
  border-radius: 15px;
  border-width: 2px;
  border-color: #3d3f6c !important;
  padding-left: 30px;
}

.input-button-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

table,
td {
  border-bottom: 2px solid;
  border-collapse: collapse;
  height: 30px;
  width: 170px;
  max-width: 900px;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  overflow-x: auto;
}

tr:hover {
  background-color: #e0efff;
}

.submit-button {
  font-size: 15px;
  font-weight: bolder;
  margin-left: 20px;
  display: block;
  width: 200px;
  height: 55px;
  border-radius: 15px;
  border: none;
  background-color: #3d3f6c !important;
  color: white;
}

button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
